<span class="contact-icon" style="font-size: 2rem; padding-left: 10px; padding-right: 10px">
  <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope" style="padding: 5px"></i></a>
  {% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square" style="padding: 5px"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github-square" style="padding: 5px"></i></a>{% endif %}
  {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin" style="padding: 5px"></i></a>{% endif %}
  {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter-square" style="padding: 5px"></i></a>{% endif %}
</span>
